@{
    ViewData["Title"] = "Kontakt oss";
}
<h2>@ViewData["Title"]</h2>

<address>
    Storseil ANS<br />
    Hummelsund<br />
    5379 Steinsland
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:gunnar.storebo@gmail.com">gunnar.storebo@gmail.com</a><br />
</address>
